API_PORT=3000

# Database Config
DATABASE_PORT=5432
DATABASE_DB=nestjs_leap
DATABASE_HOST=db
DATABASE_USERNAME=user
DATABASE_PASSWORD=password
DATABASE_URL=postgresql://user:password@db:5432/nestjs_leap

# AWS-S3
AWS_ACCESS_KEY_ID=
AWS_ACCESS_KEY_SECRET=
AWS_BUCKET_NAME=
AWS_REGION=